<div class="article-index-body">
	
      
</div>



		<!-- this is everything below the header image -->
<div class="index-articles">

<div class="row">
	<!-- <div class=" large-8 small-8 small-centered large-centered colmuns"> -->
		<div class="large-2 small-2 small-centered columns app-logo-container">
			<div class="app-logo">
				<h1 class="text-center">Jitter</h1>
			</div>
		</div>
	<!-- </div> -->
</div>

	<div class="row">
		<div class=" large-8 small-6 small-centered columns">
			<ul class="list">
				<li class="nav-links"><%= link_to "Profile" %></li>
				<li class="nav-links"><%= link_to "Profile" %></li>
				<li class="nav-links"><%= link_to "Profile" %></li>
				<li class="nav-links"><%= link_to "Profile" %></li>
				<li class="nav-links"><%= link_to "Profile" %></li>
			</ul>
		</div>
	</div>


    <div class="row">
    	<div class="large-12 small-centered columns index-header">
    		<hr>
				<h1 class="text-center index-head">Popular articles</h1>
    	</div>
    </div>

  
        <div class="row">
          <% @articles.each do |article| %>
        
            <div class="large-12 small-12 medium-12 columns cs-style-3">
              <div class="row">
              	<div class="large-9 medium-8 small-7 columns">
              		<h3><%= article.title %></h3>
              	</div>
              </div>
              <div class="row">
              	<div class="large-9 medium-8 small-7 columns">
              		<p><%= article.text %></p>
              	</div>
              </div>
								<p><%= link_to 'Show', article_path(article) %></p>
								<p><%= link_to 'Edit', edit_article_path(article) %></p>
            </div>
          <% end %>
        </div>
</div>
	</div>
