<div id="wrapper">
  <div id="main">
    <div class="container">
      <div class="buttons">
        <button class="nav-toggler toggle-slide-left"><i class="fa fa-bars"></i></button>
      </div><!-- /buttons -->

      <section class="content"> 

      <div class="row user-header">
        <div class="small-12 coulmns">
          
          <div class="row user-image-container">
            <div class="small-2 small-centered columns">
              <%= image_tag @user.url, :class => 'user-image' %>
            </div>
          </div>

          <div class="row user-name-container">
            <div class="small-5 small-centered columns"> 
              <h1 class="text-center user-name"><%= @user.name %></h1>
            </div> 
          </div>
          <div class="row user-description-container">
            <div class="small-5 small-centered columns"> 
              <h1 class="text-center user-description"><%= @user.description %></h1>
            </div> 
          </div>

        </div>
      </div>
        <hr>

      <div class="row user-article-container">
        <div class="large-10 medium-10 small-12 small-centered columns">
          <% @my_articles.each do |article| %>
              <div class="row">
                <div class="large-10 medium-5 small-4 small-centered columns">
                  <h3 class="user-article-title"><%= link_to article.title, article_path(article) %></h3>
                </div>
              </div>
              <div class="row">
                <div class="large-10 medium-8 small-7 small-centered columns">
                  <p class="user-article-text"><%= article.text %></p>
                <div class="row">
                  <div class="small-4 columns">
                    
                    <p class="contine-reading"><%= link_to "Contine reading", article_path(article), :class => "button [tiny small large] contine-reading-button" %></p>
                  </div>
                </div>

                </div>
              </div>
                <!-- <p><%#= link_to 'Edit', edit_article_path(article) %></p> -->
          <% end %>
          <hr>
        </div>
      </div>           
    </section><!-- /.content -->
  </div>
</div><!-- #main -->

</div><!-- /#wrapper -->






 <nav class="menu slide-menu-left">
        <ul>
          <li><button class="close-menu cmn-t-bg"><i class="fa fa-times"></i></button></li>
            <li id="logo"><%= link_to "Jitter", root_path %></li>       
          <% if current_user%>
            <li><%= link_to "New Story", new_article_path %></li>
            <li><%= link_to "Your Blog", user_path(current_user) %></li>
            <li><a href="#">Settings</a></li>
            <li><%= link_to 'Log out', log_out_path%></li>
          <% else %>
            <li><%= link_to "Log in", new_session_path %></li>
            <li><%= link_to "Sign up", new_user_path %></li>
          <% end %>
          <li><a href="#">Help</a></li>
        </ul>
    </nav><!-- /slide menu left -->

<script type="text/javascript" src="Javascript/articles.js"></script>
